{% extends "layout.html" %}

{% block title %} Components {% endblock%}

{% block body %}

<div class="bg-white">
	<h2>Components</h2>
	<p>
Flask==0.9 <br />
Flask-Admin==1.0.2 <br />
Flask-Cache==0.7.1 <br />
Flask-Gravatar==0.2.3 <br />
Flask-Login==0.1.3 <br />
Flask-SQLAlchemy==0.16 <br />
Flask-Uploads==0.1.3 <br />
Flask-WTF==0.8 <br />
Jinja2==2.6 <br />
Markdown==2.2.0 <br />
MySQL-python==1.2.3 <br />
SQLAlchemy==0.7.8 <br />
WTForms==1.0.2 <br />
Werkzeug==0.8.3 <br />
wsgiref==0.1.2 <br />
	</p>
</div>


{% endblock %}