{% extends "layout.html" %}
{% block body %}
  <div class="row index-view">
    <div class="span8">
    <table class="home-entries">
      <tbody>
      {% for topic in topics %}
      <!-- entry -->
      <tr>
        <td class="entries-photo">
         <a href="/u/{{topic.user.username}}">
          {% if b == 'web' %}
          <img src="{{ topic.user.email | gravatar(size=50)}}" alt="{{topic.user.username}}" class="photo-round" />
          {% else %}
          <img src="{{ topic.user.email | gravatar(size=25)}}" alt="{{topic.user.username}}" class="photo-round" />
          {% endif %}
        </a>
        </td>
        <td class="entries-title">
        <div class="inner airmail-box">
          <h4 class="title"><a href="/topic/{{topic.id}}">{{ topic.title }}</a></h4>
          <span class="badge replies-num"><a href="/topic/{{topic.id}}#reply_{{topic.count_comments()}}">{{topic.count_comments()}}</a></span>
          <div class="clearfix"></div>
          <div class="meta">
            <span class="info">
              {{topic.user.username}} / {{topic.ctime | timesince}} / {{topic.visits}} visits  
            </span>

          {% if topic.nodes %}
            {% for node in topic.nodes%}
            <span class="label"><a href="/node/{{node.url}}">{{node.value}}</a></span>
            {% endfor %}
          {% endif %}
          
          </div>
        </div>
        </td>
      </tr>
      <!-- /entry -->
      {% endfor %}
      
      </tbody>
    </table>
    
    </div>
    <div class="span4 sidebar">
      <div class="bg-white airmail-box">
        <h3 class="h3-title"> Postcode </h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
      <div class="bg-white search">
        <form class="form-search">
          <input type="text" class="input-medium search-query">
          <button type="submit" class="btn">Search</button>
        </form>
      </div>  
    </div>
  </div>
{% endblock %}