{% extends "layout.html" %}
{% block title %}{% if notis %} ({{notis | length}}){%endif%} {%endblock%}
{% block body %}
  <div class="row index-view">
    <div class="span8">
    <table class="home-entries">
      <tbody>
      {% for topic in topics %}
      <!-- entry -->
      <tr>
        <td class="entries-photo">
         <a href="/u/{{topic.user.username}}">
          {% if b == 'web' %}
          <img src="{{ topic.user | avatar(50) }}" alt="{{topic.user.username}}" class="photo-round" />
          {% else %}
          <img src="{{ topic.user | avatar(25)}}" alt="{{topic.user.username}}" class="photo-round" />
          {% endif %}
        </a>
        </td>
        <td class="entries-title">
        <div class="inner airmail-box">
          <h4 class="title"><a href="/topic/{{topic.id}}">{{ topic.title }}</a></h4>
          <span class="badge replies-num"><a href="/topic/{{topic.id}}#reply_{{topic.count_comments()}}">{{topic.count_comments()}}</a></span>
          <div class="clearfix"></div>
          <div class="meta">
            <span class="info">
              {{topic.user.username}} / {{topic.ctime | timesince}} / {{topic.visits}} visits  
            </span>

          {% if topic.nodes %}
            {% for node in topic.nodes%}
            <span class="label"><a href="/node/{{node.url}}">{{node.value}}</a></span>
            {% endfor %}
          {% endif %}

          </div>
        </div>
        </td>
      </tr>
      <!-- /entry -->
      {% endfor %}
      
      </tbody>
    </table>
    
    </div>
    <div class="span4 sidebar">
      <div class="bg-white airmail-box">
        <h3 class="h3-title">Postcode</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
      <br>

      {% if current_user.is_authenticated() %}
      <div class="bg-white airmail-box notifications">
        <h3 class="h3-title">Notifications <span id="notis-title">{% if notis %} ({{notis | length}}) <a href="###" onclick="mark_notis()"><i id="icon-ok" class="icon-ok"></i></a>{% endif %}</span>
        </h3>
        {% if notis %}
        <ul id="notis">
          {% for n in notis %}
          <li>{{ n | safe }}</li>
          <!-- <li>{{ n }}</li> -->
          {% endfor %}
        </ul>
        {% else %}
        <p><a href="/notifications">No new notifications</a></p>
        {% endif %}
      </div>
      {% endif %}
      
      <div class="bg-white search">
        <form class="form-search">
          <input type="text" class="input-medium search-query">
          <button type="submit" class="btn">Search</button>
        </form>
      </div>  
    </div>
  </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  function mark_notis() {
    $.ajax({
      type : 'POST',
      url : '/mark_notifications',
      success : function(html) {
        alert(html);
        $('#notis').html('<p><a href="/notifications">No new notifications</a></p>');
        $('#notis-title').hide();
        $('title').html('AirPost');
      }
    })
  }

  function mark_one(nid) {
    $.ajax({
      type : 'POST',
      url : '/mark_one',
      params : {
        'nid' : nid,
      },
      success : function(html) {
        alert(html);
      }
    })
  }
</script>
{% endblock %}