{% extends "layout.html" %}

{% block title%}Settings{% endblock %}
{% block body %}
<div class="row settings-view">
  <div class="span8">
    <div class="bg-white airmail-box">
      <form action="" class="form-horizontal" method="post">
        {{form.csrf_token}}
        <legend>Profile</legend>
        <div class="control-group">
          <label for="url" class="control-label">Your URL</label>
          <div class="controls">
            <input type="text" readonly="readonly" value="http://airpost.in/u/{{user.username}}">
          </div>
        </div>

        <div class="control-group">
          <label for="email" class="control-label">Email</label>
          <div class="controls">
            {{form.email(value=user.email)}}
          </div>
        </div>
        {% if form.email.errors %}
          <div class="alert alert-error">
            {{ form.email.errors }}
          </div>
        {% endif %}

        <div class="control-group">
          <label for="bio" class="control-label">Bio</label>
          <div class="controls">
            <!-- {{form.bio}} -->
            <textarea name="bio" id="bio" cols="30" rows="5">{% if user.bio %}{{user.bio}}{% endif %}
            </textarea>
          </div>
        </div>
        {% if form.bio.errors %}
          <div class="alert alert-error">
            {{ form.bio.errors }}
          </div>
        {% endif %}
        

        <div class="control-group">
          <div class="controls"><input type="submit" class="btn" value="Update"></div>
        </div>
      </form>
    </div>

  </div>
  <div class="span4">
    <div class="airmail-box">
      <h3 class="h3-title">Settings</h3>
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="/settings/change_password">Change Password</a></li>

      </ul>
    </div>
  </div>
</div>
{% endblock %}