body {
	background-color: #fafafa;
	background-image: url(/static/images/shattered.png);
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #fff;
}

/*
	blue: #3b58bc
	red : #cc3834
*/
a {
	color: #666;
}

a:hover {
	color: #000;
}

p {
	font-size: 14px;
	line-height: 20px;
}

.logo a {
	font-family: "Helvetica Neue";
	color: #777;
	float: left;
	text-indent: -9999px;
	background: url(/static/images/logo.png) no-repeat 0 15px;
	width: 275px;
	height: 60px;
}

.logo a:active {
	background: url(/static/images/logo.png) no-repeat 1px 16px;
}

.layout .nav {
	float: right;
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	list-style: circle;
	/*background: url(../images/airmail_pattern.png) repeat-x;*/
}

.layout .nav li {
	margin: 2px 5px;
	display: inline-block;
}

.layout .nav li a {
	color: #666;
	text-shadow: #fff 1px 1px 1px;
	padding: 5px;
}

.layout .nav li a:active {
	color: #333;
}

.layout .nav li a:hover {
	padding-bottom: 4px;
	border-bottom: #bbb 1px solid;
	background: none;
}

.bg-white {
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: #aaa 1px 1px 5px;
}

.padding-5 {
	padding: 5px;
}

.index-view .photo-round {
	box-shadow: #888 0 0 10px;
	border-radius: 25px;
	width:50px;
	height:50px;
}

.index-view .meta .info {
	color: #aaa;
	font-family: Georgia;
}

.index-view .search {
	margin: 10px 0;
}

.index-view .notifications i {
	margin: 0 5px;
}

.index-view .notifications ul {
	list-style: circle;
	margin: 0;
	margin-left: 20px;
	font-size: 14px;
}

.index-view .notifications ul li a {
	text-decoration: underline;
}

.big-photo-round {
	box-shadow: #eee 0 0 10px;
	border-radius: 50px;
}

.home-entries td {
	vertical-align: top;
}

.home-entries .entries-photo {
	width: 100px;
	text-align: center;
	padding: 5px 0;
}

.home-entries .entries-title {
	width: 670px;
}

.home-entries .author {
	float: right;
}

.home-entries .entries-title h4 {
	display: inline-block;
	width: 90%;
}

.home-entries .entries-title .replies-num {
	float: right;
	background-color: #c1c9e8;
}

.home-entries .entries-title .replies-num a {
	color: #fff;
}

.home-entries .entries-title .inner {
	margin: 0 0 10px;
}

.airmail-box {
	padding: 10px;
	background-color: #fff;
	border-top: #bbb 1px solid;
	border-left: #bbb 1px solid;
	border-bottom: #aaa 1px solid;
	border-right: #aaa 1px solid;
	border-width: 8px;
	-webkit-border-image: url(../images/airmail_border.png) 30 repeat;
	-moz-border-image: url(../images/airmail_border.png) 30 repeat;
	-o-border-image: url(../images/airmail_border.png) 30 repeat;
	border-image: url(../images/airmail_border.png) 30 repeat;
	box-shadow: #aaa 1px 1px 5px;
}

.home-entries .title {
	font-size: 16px;
	line-height: 110%;
	margin: 0 0 5px;
	display: block;
}

.home-entries .title a{
	color: #000;
}

.home-entries .label a , .topic-view .label a{
	color: #fff;
}

.home-entries .label {
	margin-right: 5px;
}

.h2-title {
	font-size: 20px;
	line-height: 110%;
	margin: 4px 0;
	padding: 5px;
}

.h3-title {
	line-height: 28px;
	vertical-align: middle;
	margin: 4px 0;
	padding: 0;
	font-size: 19px;
	font-weight: normal;
	border-bottom: #eee 1px solid;
}

/* topic view */
.topic-view .entry-bg {
	background: #fff;
	padding: 10px 10px;
	margin-bottom: 10px;
	box-shadow: #aaa 0px 7px 10px;
}

.topic-view .bg-paper {
	margin: 0px;
	margin-top: -15px;
	background: url(../images/paper.png) top no-repeat;
	height: 70px;
}

.topic-view h2.topic {
	padding: 0px 10px 0 10px;
	font-size: 20px;
	background: #fff;
	box-shadow: #aaa 0px 7px 8px;
}

.topic-view .author-info {
	position: relative;
}

.topic-view .author-info-left {
	position: absolute;
	left: -80px;
	top: -20px;
	width: 400px;
	height: 120px;
	padding: 9px 0 0 30px;
	background: url(../images/stamp.png) no-repeat;
}

.topic-view .author-info-left img {
	margin: 5px;
	width: 100px;
	height: 100px;
	-webkit-transform:rotate(-10deg);
}

.topic-view .author-info-left:hover .author-info-right {
	display: block;
}

.topic-view .author-info-right {
	width: 180px;
	float: left;
	display: none;
}

.topic-view .author-info-right .author {
	font-size: 20px;
	font-weight: bold;
}

.topic-view .author-info-right .bio {
	font-size: 14px;
}

.topic-view .meta .info {
	color: #999;
	text-align: left;
	font-style: italic;
	font-family: Georgia;
	padding-bottom: 5px;
	border-bottom: #ddd 1px dashed;
}

.topic-view .entry p {
	margin: 10px 0;
}

.topic-view .replied_reply {
	border: #ddd 1px solid;
	margin: 5px;
	width: 95%;
	padding: 5px 10px;
	float: left;
}

.topic-view .replied_reply table {
	margin-bottom: -6px;
}

.topic-view legend {
	margin: 10px 0;
}

.topic-view  textarea {
	width: 95%;
	min-height: 100px;
}

.topic-view tr:hover {
	background: #fff;
}

.topic-view td {
	padding: 10px 0;
	border-top: none;
	border-bottom: #ddd 1px solid;
}

.topic-view .reply-author img {
	width: 50px;
	height:  50px;
	border: #eee 1px solid;
}

.topic-view .reply-author {
	width: 70px;
	text-align: center;
}

.topic-view .reply-contents {

}

.topic-view .replies * {
	font-size: 13px;
	line-height: 20px;
}

.topic-view .reply-meta {
	color: #bbb;
}

.topic-view .bg-paper-right {
	background: url(../images/paper.png) -120px 0 no-repeat;
	height: 70px;
	margin-top: 50px;
}

.topic-view .tools {
	text-align: center;
}

.topic-view .tools form {
	margin: 0;
	display: inline;
}

/* /topic view */

/* setting view*/
.settings-view textarea {
	width: 80%;
	min-height: 100px;
}
/* /setting view */
.t {
	border: #c06 1px solid;
}

.copyright {
	padding: 20px 0;
	color: #888;
	font-family: Georgia;
	text-shadow: #fefefe 1px 1px 1px;
}

.copyright p {
	font-family: Georgia;
	font-style: italic;
	font-size: 12px;
}

.copyright ul.page {
	list-style: none;
	margin: 4px 0;
}

.copyright .page li {
	display: inline-block;
	padding-right: 5px;
}


/* post view*/
.post-view .stamp {
	position: absolute;
	width: 201px;
	height: 145px;
	background: url(/static/images/stamp1.png) no-repeat;
	top: 10px;
	right: 10px;
	opacity: .2;
}

.post-view  textarea {
	width: 95%;
	min-height: 200px;
}
/* /post view*/

/* u view*/
.u-view .photo {
	text-align: center;
	width: 140px;
	float: left;
}

.u-view .meta {
	width: 460px;
	float: left;
}

.u-view .photo img {
	width: 100px;
	margin: 0 20px;
	border: #ddd 1px solid;
}

.u-view .bio {
	color: #888;
}

.u-view .bio p {
	line-height: 14px;
}

.u-view .topics {
	margin: 10px 0;
}

.u-view ul {
	list-style: none;
	margin: 0;
}

.u-view .pull-left {
	width: 75%;
	font-size: 14px;
}

.u-view li {
	padding: 5px 0;
	border-bottom: #ddd 1px solid;
}

/* /u view*/