html, body {
	margin: 0;
	padding: 0; 
	border: 0;
}

* {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
body {
    -webkit-text-size-adjust: none;
	font-family:Arial,  sans-serif;
	font-size:14px;
	line-height:1.5;
	word-wrap: break-word;
	background-color: #fff;
	min-height: 200px;
}

h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

img {
	border: 0;
	max-width: 100%;
}

table {
	width:auto;
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.container {
	width: auto;
	background: #eee;
}

.header {
	background: #ddd;
	height: 36px;
	border-bottom: #ccc 1px solid;
}

.header h1 {
	float: left;
	font-size: 16px;
	line-height: 20px;
}

.header h1 a {
	display: block;
	margin: 10px 0 5px 5px;
	width: 100px;
	color: #222;
	color: transparent;
	height: 30px;
	background: url(/static/images/logo_mobile.png) no-repeat;
}

/*@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.header h1 a {
		display: block;
		width: 100px;
		height: 15px;
		color: #222;
		margin: 5px;
		color: transparent;
		background: url(/static/images/logo_mobile@2x.png) no-repeat 0 5px;
	}
}*/

.header .nav {
	float: right;
	list-style: none;
	margin: 0;
}

.header .nav li {
	float: left;
	line-height: 36px;
}

.header .nav li a {
	padding: 0 5px;
}

.header .nav li a:hover {
	background: #ddd;
}

.sidebar {
	display: none;
}

.index-view table {
	width: 100%;
	background: #fff;
	padding: 5px;
}

.index-view table tr {
	padding: 0;
	vertical-align: top;
	border-bottom: #fafafa 1px solid;
}

.index-view table td {
	padding: 5px 0;
}

.index-view table .entries-photo {
	width: 45px;
	text-align: center;
}

.index-view  h4 {
	display: inline;
	float: left;
	width: 80%;
}

.index-view .title a{
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

.bg-white {
	border-radius: 5px;
	padding: 5px;
	background-color: #fff;
	border: #ddd 1px solid;
	margin: 5px 0;
}

.badge {
	float: right;
	padding: 1px 10px;
	background-color: #ddd;
	border-radius: 4px;
	margin: 0 5px;
}

.index-view .meta {
	font-size: 12px;
	color: #aaa;
}

.topic-view h2 {
	font-size: 15px;
	line-height: 20px;
	padding: 5px 10px;
}

.topic-view .entry-bg {
	padding: 5px 10px;
	background-color: #fff;
}

.topic-view .entry-bg .meta {
	color: #bbb;
	margin: 0;
	font-size: 11px;
}

.topic-view .replies {
	padding: 0;
}

.topic-view .reply-meta {
	font-size: 11px;
}

.topic-view .replies .reply-author {
	width: 30px;
	text-align: center;
}

.topic-view .comments {
	border: #fff 1px solid;
}

legend {
	margin-bottom: 2px;
}

.topic-view .tools {
	padding: 5px;
}

.topic-view .tools form {
	margin: 0px;
	display: inline;
}

.u-view .photo {
	width: 120px;
	padding: 10px 0;
	text-align: center;
	float: left;
}

.u-view .meta {
	float: left;
}

.u-view .topics li {
	line-height: 14px;
}

textarea {
	width: 90%;
	min-height: 100px;
}

ul.page {
	list-style: none;
	margin: 2px 0;
}

ul.page li {
	float: left;
	line-height: 20px;
}

ul.page li a {
	padding: 0 5px;
	font-size: 10px;
}

.copyright p{
	font-size: 10px;
	padding: 0 5px;
}